* {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'Merriweather';
    src: url("./fonts/Merriweather/Merriweather-Black.ttf") format("truetype");
}
@font-face {
    font-family: 'Raleway';
    src: url("./fonts/Raleway/Raleway-VariableFont_wght.ttf") format("truetype");
}
@font-face {
    font-family: 'Aref';
    src: url("./fonts/Aref/ArefRuqaaInk-Regular.ttf") format("truetype");
}
.main {
    background-color: #3d5a80;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr;
    width: 100vw;
    font-family: 'Raleway', Georgia, 'Times New Roman', Times, serif;
}
.inputContainer {
    grid-column: 1/3;
    display: grid;
    height: 100px;
    /* justify-content: center;
    align-items: center; */
    grid-template-columns: 1fr 3fr 1fr;
    background-color: #3d5a80;
}
.inputSearch {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputField {
    width: 200px;
    height: 40px;
    color:rgb(41, 50, 65);
    font-family: 'Aref', 'Raleway';
    font-weight: 500;
    font-size: 18px;
    background-color: rgb(152, 193, 217);
    border: 2px solid #e0fbfc;
    border-radius: 10px;
    padding: 0 10px;
    margin: 10px;
    transition-duration: 0.5s;
}
.inputField:hover,
.inputField:focus {
    height: 50px;
    outline: none;
}
.submitBtn {
    height: 55px;
    width: 55px;
    background-color: rgb(152, 193, 217);
    border: 2px solid #e0fbfc;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submitBtn > img {
    filter: invert(18%) sepia(8%) saturate(1746%) hue-rotate(179deg) brightness(96%) contrast(95%);
    transition-timing-function: ease-in-out;
    transition-duration: 0.25s;
}
.submitBtn:hover {
    cursor: pointer;
}
.submitBtn:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.searchIcon {
    height: 48px;
}
.submitBtn:hover .searchIcon {
    transform: scale(1.15);
}
.tempBtnContainer {
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tempToggle {
    width: 100px;
    height: 25px;
    font-size: 22px;
    font-weight: 500;
    border-radius: 10px;
    border: 2px solid #e0fbfc;
    background-color: rgb(238, 108, 77);
    padding: 7px 16px 7px 16px;
    display: block;
    position: relative;
    text-align: end;
    cursor: pointer;
    transition-duration: 0.3s;
}
#far {
    text-align: start;
    background-color: rgb(152, 193, 217);
}
.tempToggle::after {
    content: "";
    width: 32px;
    height: 32px;
    background-color: rgb(61, 90, 128);
    box-shadow: 2px 2px 3px rgb(41, 50, 65);
    position: absolute;
    border-radius: 5px;
    top: 3px;
    left: 4px;
    transition-duration: 0.5s;
}
#far::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}
.tempToggle:active::after {
    width: 36px;
}
.mainContainer {
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.locationContainer {
    display: flex;
}
.mainCity {
    font-size: 40px;
    font-weight: bold;
}
.mainTempContainer {
    font-size: 72px;
}
.highlowContainer {
    display: flex;
}
.highlowContainer :first-child {
    font-size: 40px;
    margin-right: 20px;
}
.highlowContainer :last-child {
    font-size: 28px;
    display: flex;
    align-items: center;
}
.highlowContainer :first-child::after {
    content: "";
    height: 48px;
    width: 4px;
    border-radius: 2px;
    margin: 0 8px;
    background-color: black;
    position: absolute;
}
.iconContainer {
    display: flex;
    flex-direction: column;
}
.mainWeatherIcon {
    margin: -35px 0;
}
.mainDescription {
    display: flex;
    justify-content: center;
}
.detailContainer {
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
}
.detailContainer > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.detailContainer > div#wind {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.detailContainer > div#wind .detailLabel {
    grid-area: 1/1/2/3;
    justify-self: center;
    align-self: end;
}
.windIcon {
    height: 35px;
    grid-area: 2/1/3/2;
    justify-self: end;
    align-self: start;
    margin-right: 5px;
}
.detailContainer > div#wind .detailData {
    grid-area: 2/2/3/3;
    align-self: start;
    margin-top: 8px;
}