* {
    padding: 0;
    margin: 0;
}
.main {
    background-color: slateblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.detailContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
}
.detailContainer > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}