* {
    padding: 0;
    margin: 0;
}
.main {
    background-color: slateblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
    width: 100vw;
}
.inputContainer {
    grid-column: 1/3;
    display: grid;
    /* justify-content: center;
    align-items: center; */
    grid-template-columns: 1fr 3fr 1fr;
}
.inputSearch {
    grid-column: 2/3;
}
.inputField {
    width: 200px;
    height: 50px;
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 10px;
}
.submitBtn {
    height: 50px;
}
.searchIcon {
    height: 50px;
}
.tempBtnContainer {
    grid-column: 3/4;
}
.mainContainer {
    grid-row: 2/3;
    grid-column: 1/2;
}
.detailContainer {
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
}
.detailContainer > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}